<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="{{pictureUrl}}" alt="" class="card-img-top img-thumbnail">
          <div class="card-body">
            <div>
              <strong>Project Name</strong>
              <p>{{project?.projectName}}</p>
            </div>
            <div>
              <strong>Company:</strong>
              <p>{{project?.company.companyName}}</p>
            </div>
            <div>
                <strong>Project Order</strong>
                <p>{{project?.projectStart}}</p>
            </div>
            <button class="btn-success btn col-sm-12" form="editForm"> Join </button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div>
        <app-chart-doughnut></app-chart-doughnut>
        </div>
        <br/><br/><br/>
          <div>
            <app-chart-bar></app-chart-bar>
          </div>
      </div>
    </div>
  </div>