<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{userUrl}}" alt="" class="card-img-top img-thumbnail">
        <div class="card-body text-center">
          <div>
            <h3>{{user.name}} {{user.surname}}</h3>
          </div>
          <div>
            <strong>Date of Birth:</strong>
            <p>{{user.dateOfBirth | date}}</p>
          </div>
          <div>
              <strong>Recently Active</strong>
              <p>{{user.lastActive | date:'medium'}}</p>
          </div>
          <button class="btn-warning btn col-sm-12" [disabled]="!editForm.dirty" form="editForm"> Save </button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" form="editForm" *ngIf="editForm.dirty">
        <strong> Caution: </strong> You have made changes. If you don't want to lose them, better write them down!
      </div>
        <div class="tab-panel">
          <tabset class="user-tabset col-lg-12 col-md-12 col-sm-12">
            <tab heading="Twoje projekty">

            </tab>
            <tab heading="Twoje grupy">
              
            </tab>
            <tab heading="Twoje role">
              
              </tab>
              <tab heading="Edytuj profil">
              <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()" class="container">
                <h4>Name</h4>
                <input type="text" name="name"
                  class="form-control"
                  [(ngModel)]="user.name"> <br/>
                <h4>SurName</h4>
                <input type="text" name="Surname"
                  class="form-control"
                  [(ngModel)]="user.surname"><br/>
                  <h4>E-mail</h4>
                  <input type="text" name="email"
                    class="form-control"
                    [(ngModel)]="user.email">
                  <!-- <h4>Hasło</h4>
                  <input type="password" name="password"
                    class="form-control"> -->
              </form>
              </tab>
          </tabset>
        </div>
      </div>
  </div>
</div>