<h4 class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<i class="fa fa-arrow-left" aria-hidden="true"></i>
</h4>
<div class="container-fluid text-center">
    <div class="container text-center text-container col-lg-4 col-md-6 col-sm-10" *ngIf="!registrationMode">
        <div class="card">
          <div class="card-body">
            <div class="form-signin" *ngIf="!addClient">
      
            <h1 class="h3 mb-3 font-weight-normal">Choose a client</h1>
          
            <input [(ngModel)]="selected"
            [typeahead]="companyList"
            class="form-control"
            placeholder="Search for a customer">
            </div>

            <app-add-company (addProject)="addClient" *ngIf="addClient"></app-add-company>

            <div class="btn-group mt-4" role="group" *ngIf="!addClient" >
                <button class="btn btn-lg btn-primary" (click)="addClient=true" type="submit">Add a client</button>
                <button [disabled]="selected==='' || !selected" class="btn btn-lg btn-secondary" type="submit">Further</button>
              </div>
          </div>
          
        </div>
      </div>
      
                  